.order {
	margin-top: 100px;
}

.order_content {
	text-align: center;
}

.order_text {
	font-size: min(5.5vh, 70px);
	font-weight: 700;
	color: #c1b19b;
	margin-bottom: 100px;
}
.order_content_icons {
	display: flex;
	justify-content: center;
	column-gap: 120px;
}