.partners {
	margin-top: 100px;
	
	display: flex;
	justify-content: space-between;
}

.partners_content {
	text-align: center;
	align-items: center;
	padding: 25px;
}

.partners_content_text {
	font-size: min(3.5vw, 60px);
	font-weight: 700;
	color: #98784d;
}

.partners_content_icons {
	display: inline-flex;
	gap: 30px;
}

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: #c1b19b;
}

.partners_content_img {
	background-image: url(/assets/images/back2.png);
	background-position: center;
	flex-basis: 50%;
	max-width: 100%;
	padding: 50px;
}


/*Media*/

@media (max-width: 1280px) {
	
}

@media (max-width: 1024px) {
	.circle {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 815px) {
		.circle {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 450px) {

}