.site-footer {
	margin-top: 200px;
  background: #eeece6;
  color: #c1b19b;
  padding: 40px 0 20px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
}
.footer-logo img {
	width: 190px;
  height: 90px;
}
.footer-contacts, .footer-links {
  min-width: 200px;
}
.footer-links ul,
.footer-contacts ul {
  padding: 0;
  list-style: none;
  margin: 10px 0 0 0;
}
.footer-links ul li,
.footer-contacts ul li {
  margin-bottom: 8px;
}
.footer-links a,
.footer-contacts a {
  color:	#8b5a3d;
  text-decoration: underline;
  transition: color 0.2s;
}
.footer-links a:hover,
.footer-contacts a:hover {
  color:	#a48874;
}
.footer-bottom {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid #333;
  padding-top: 10px;
}

@media (max-width: 700px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-logo,
  .footer-contacts,
  .footer-links {
    margin-bottom: 20px;
    text-align: center;
  }
}